.banner {
   &-slider {
      &__item {
         height: 715px;
      }
   }
   &__wrap {
      width: 100%;
      height: 100%;
      position: relative;

      img {
         min-width: 100%;
         min-height: 100%;
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         object-fit: cover;
         background-repeat: no-repeat;
         background-position: 20 20;
      }
   }
   &-container {
      &__wrap {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         &-wrap {
            padding-top: 170px;
         }
      }
   }

   &-discount {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
   }
   &__subtitle {
      font-size: 30px;
      color: #252c3a;
      max-width: 470px;
      margin-bottom: 75px;
      @include robotoBold;
   }
}

.discount {
   &__title {
      font-size: 90px;
      @include robotoBold;
      margin-right: 26px;
   }
   &__box {
      width: 73px;
      height: 73px;
      border: 2px solid #2b313d;
      padding: 4px;
      margin-right: 24px;
      &-box {
         width: 100%;
         height: 100%;
         border: 2px solid #2b313d;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 40px;
         @include robotoBold;
      }
   }
   &__procent {
      font-size: 90px;
   }
}

._sale {
   position: relative;
   &:after {
      content: '';
      background: url("../img/sale.png") center no-repeat;
      display: block;
      position: absolute;
      bottom: -100px;
      right: -40px;
      height: 105px;
      width: 95px;
   }
}

@media screen and (max-width: 768px) {
   .slider {
      &-wrap {
         flex-direction: column;
         &__item {
            display: flex;
            justify-content: center;
            &:first-child {
               flex-basis: 100%;
               img {
                  width: 100%;
                  height: auto;
                  object-fit: contain;
               }
            }
            &:last-child {
               flex-basis: 100%;
               flex-direction: column;
               padding: 20px;
             }
         }
      }
   }
   .reviews {
      &-block {
         margin-top: 385px;
         &__title {
            font-size: 18px;
         }
      }
      &-slider {
         &__title {
            margin-top: 0;
         }
      }
   }
}