._header {
   &_line {
      position: relative;
      &:after {
         content: '';
         position: absolute;
         display: block;
         height: 2px;
         width: 98%;
         background-color: #fab702;
         bottom: -50px;
         padding-left: 10px;
         padding-right: 10px;
      }
   }
}

.blog {
   &-article {
      &-img {
         margin-bottom: 50px;
      }
   }
   &__title {
      @include robotoBold;
      font-size: 26px;
      color: #fab702;
      margin-bottom: 30px;
   }
   &__text {
      font-size: 18px;
      color: #1b1b1d;
      @include robotoRegular;
      p {
         margin-bottom: 30px;
      }
   }
   &-list {
      padding: 0;
      margin: 0;
      &__title {
         font-size: 14px;
         color: #696969;
         @include robotoMedium;
         font-weight: bold;
         padding-left: 30px;
         position: relative;
         &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -10px;
            left: 0;
            background: url("../img/adress-bar-yellow.png") center no-repeat;
            width: 20px;
            height: 20px;
         }
      }
      &__link {
         font-size: 17px;
         @include robotoMedium;
         color: #949494;
         line-height: 17px;
         padding-bottom: 15px;
         border-bottom: 1px solid #fab702;
         &:hover {
            color: #fab702;
         }
      }
      &__item {
         padding-top: 25px;
         padding-bottom: 15px;
         position: relative;
         &:after {
            content: "";
            display: block;
            position: absolute;
            right: 20px;
            top: 30px;
            background: url("../img/external-link-symbol.png") center no-repeat;
            height: 11px;
            width: 14px;
         }
      }
   }
   &-block {
      background-color: #f5f5f5;
      padding: 20px;
      box-shadow: 0 0 7px 3px #e4e4e4;
   }
}

.blog-link_active {
   & ~ .sublist {
      display: block;
   }
}

.blog-list_active {
   &:after {
      background: url("../img/external-link-symbol1.png") center no-repeat;
   }
}

.sublist {
   display: none;
   margin-top: 10px;
   &__link {
      display: inline-block;
      min-width: 200px;
      font-size: 15px;
      color: #696969;
      padding-top: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid #696969;
      &:hover {
         color: #fab702;
      }
   }
   &__item {
      padding-left: 25px;
   }
}
@media screen and (max-width: 992px) {
   .blog-block {
      margin-bottom: 30px;
   }
}
@media screen and (max-width: 1035px) {
   .blog-list__item:after {
      right: 0;
   }
}
@media screen and (max-width: 340px) {
   .blog-list__item:after {
      right: -7px;
   }
}
