.sentence {
	padding: 18px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&-line {
	background-color: #fab702;
	}
	p {
		color: #fff;
		font-size: 27px;
	}
	&--color {
		color: #000;
	}
	&--border {
		color: #000;
		text-decoration: underline;
	}
}

.btn {
	background-color: #fff;
	color: #fab702;
	border-radius: 0;
	padding: 17px 11px;
	transition: 0.3s;
	&:hover {
		background-color: #3b404f;
    	color: #fff
	}
}

.reviews__btn-btn {
	transition: 0.3s;
}
.reviews__btn {
	transition: 0.3s;
}

.page-list__link {
	transition: 0.3s;
}

._click-link {
	transition: 0.3s;
}
.link-phone__link {
	transition: 0.3s;
}